/* NAVBAR */
#navbar {
  padding: 15px 0;
}
.hero-img {
  width: 50%;
}
.hero {
  padding-top: 35px;
}
.hero > * {
  padding: 10px 0;
}

/* PORTFOLIO */
#portfolio > * {
  padding: 10px 0;
}

/* IMAGES */

/* ABOUT */
#about > * {
  padding: 10px 0;
}

/* CONTACT ME */

/* FOOTER TOP  */
.weblink {
  text-align: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  line-height: 40px;
}
