/* GENERAL */
:root {
  --color-bg-nav-footerbot: #2c3e50;
  --color-bg-hero: #1abc9c;
  --color-bg-footertop: #3a546d;
}
.nav-bg {
  background-color: var(--color-bg-nav-footerbot);
}
.hero-bg {
  background-color: var(--color-bg-hero);
}
.footertop-bg {
  background-color: var(--color-bg-footertop);
}
.footerbot-bg {
  background-color: var(--color-bg-nav-footerbot);
}
img {
  width: 100%;
  display: block;
}

/* STAR */
#whitebar:after,
#whitebar:before {
  content: "";
  display: block;
  width: 100px;
  background-color: white;
  height: 4px;
  margin: 0 10px;
  border-radius: 5px;
}
#blackbar:after,
#blackbar:before {
  content: "";
  display: block;
  width: 100px;
  background-color: black;
  height: 4px;
  margin: 0 10px;
  border-radius: 5px;
}

/* NAVBAR */
.navbar-toggler {
  color: white;
}
.navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(167deg)
    brightness(100%) contrast(104%);
}
.navbar a {
  color: white;
}
.hero-img {
  max-width: 250px;
}
.hero {
  padding-top: 35px;
}
.hero > * {
  padding: 10px 0;
}

/* PORTFOLIO */
#portfolio > * {
  padding: 10px 0;
}

/* IMAGES */
.my-img-container:hover:after {
  content: "+";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 128, 0, 0.384);
  color: white;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

/* ABOUT */
#about > * {
  padding: 10px 0;
}

/* CONTACT ME */
#contact-me .btn.btn-primary {
  background-color: var(--color-bg-hero);
  border: 0;
}
form .form-control {
  border: 0;
  border-bottom: 1px solid lightgray;
  border-radius: 0;
}
/* FOOTER TOP  */
#weblink {
  width: 50%;
  margin: 0 auto;
}
.weblink {
  text-align: center;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  /* margin: 0 10px; */
  border-radius: 50%;
  line-height: 40px;
}
.weblink a {
  color: white;
}
